* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  padding: 20px;
}

.card {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  color: white;
  background-color: #111;
  margin: 0 auto;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.card p {
  color: #b2b2b2;
}

.amarelo {
  color: #febe01;
}

input[type="button"] {
  width: 115px;
  padding: 10px;
  height: auto;
  background-color: #febe01;
  color: #332200;
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: #ffd864;
}
